@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-gray-700;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  @apply transition-colors duration-200;
  -webkit-tap-highlight-color: transparent;
}